body {
    font-family: Arial, sans-serif;
    background: #f4f4f4;
}

.container {
    width: 40%;
    margin: 50px auto;
    background: #fff;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 0 10px #ccc;
}

h2 {
    text-align: center;
}

label {
    font-weight: bold;
    display: block;
    margin-top: 15px;
}

input, select, textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #aaa;
}

button {
    margin-top: 20px;
    width: 100%;
    padding: 12px;
    background: #0A84FF;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 17px;
    cursor: pointer;
}

button:hover {
    background: #0066CC;
}
